<div class="container">

    <!-- <app-article-detail *ngIf="userInfo && userInfo.role === 'redactor'"></app-article-detail> -->

    <h2 class="fw-bolder display-3">Opciones del artículo</h2>
    <hr>
    <form class="assign" [formGroup]="newAssignment" (ngSubmit)="onSubmit()">
        <!-- EDITOR -->
        <div class="editor" *ngIf="userInfo && userInfo.role === 'editor'">
            <div class="col-md-12">
                <label class="form-label">Selecciona una opción</label>
                <!-- <select class="form-select" formControlName="actual_status" (change)="onChange($event)">
                    <option value="" selected>Selecciona una opción</option>
                    <option value="borrador">Reasignar para revisión</option>
                    <option value="publicado">Publicar</option>
                </select> -->

                <select class="form-select options" multiple aria-label="multiple select example"
                    (click)="onClick($event)" formControlName="actual_status">
                    <option value="borrador">Reasignar para revisión</option>
                    <option value="publicado">Publicar</option>

                </select>
            </div>
            <div class="publicar" *ngIf="showPublishDiv">
                <h3>Publicar artículo</h3>
                <hr>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" formControlName="headline"
                        (change)="onCheck($event)">
                    <label class="form-check-label">Establecer como titular</label>
                </div>
            </div>
            <div class="reasignar" *ngIf="showAssignDiv">
                <h3>Reasignar para revisión</h3>
                <hr>
                <label class="form-label">Departamento de redacción</label>
                <select class="form-select" formControlName="user_id">
                    <option value="" selected>Selecciona una opción</option>
                    <option *ngFor="let writer of allWriters" [value]="writer.id">{{writer.name}}</option>
                </select>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px" formControlName="comments"></textarea>
                    <label for="floatingTextarea2">Deja aquí tus comentarios o sugerencias.</label>
                </div>
            </div>
        </div>

        <!-- REDACTOR -->
        <div class="redactor" *ngIf="userInfo && userInfo.role === 'redactor'">
            <h3>Asignar para su revisión</h3>
            <hr>
            <div class="col-md-12">
                <label class="form-label">Departamento de edición</label>
                <select class="form-select" formControlName="user_id">
                    <option value="" selected>Selecciona una opción</option>
                    <option *ngFor="let editor of allEditors" [value]="editor.id">{{editor.name}}</option>
                </select>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px" formControlName="comments"></textarea>
                <label for="floatingTextarea2">Deja aquí tus comentarios o sugerencias.</label>
            </div>
        </div>


        <button type="submit" value="Enviar" class="btn btn-warning">Aceptar</button>
    </form>
</div>

<!-- [attr.selected]="true" -->