.headline-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}

.headline-card-link {
    text-decoration: none;
    color: inherit;
}

.headline-card-img-left {
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.headline-card {
    flex: 1 0 100%;
    border: 1px solid #ddd;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
}

.headline-card-body {
    flex: 1;
    padding: 1.25rem;
}

.headline-card-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.headline-card-text {
    font-size: 1rem;
    line-height: 1.4;
}

.btn {
    width: 100%;
}

@media (max-width: 840px) {
    .headline-card {
        flex-direction: column;
        height: auto;
    }

    .headline-card-img-left {
        width: 100%;
        height: 200px;
        border-radius: 8px 8px 0 0;
    }

    .headline-card-body {
        padding: 1rem;
        height: auto;
    }

    .headline-card-title {
        font-size: 1.5rem;
    }
}