<div class="container">

    <h2 class="fw-bolder display-3">Nuevo artículo</h2>
    <hr>
    <form [formGroup]="newArticle" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="mb-12 col-xs-12 col-md-12">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
        </div>

        <div class="row">
            <div class="mb-12 col-xs-12 col-md-12">
                <label class="form-label">Extracto/Resumen</label>
                <input type="text" class="form-control" formControlName="excerpt">
            </div>
        </div>

        <div class="row">
            <div class="mb-12 col-xs-12 col-md-12">
                <label class="form-label">Contenido</label>
                <p-editor [style]="{ height: '320px' }" formControlName="body">
                </p-editor>
            </div>
        </div>
        <div class="row">
            <div class="mb-12 col-xs-12 col-md-12">
                <label class="form-label">Imagen</label>
                <input type="text" class="form-control" formControlName="url">
            </div>
        </div>
        <div class="row">
            <div class="mb-6 col-xs-12 col-md-6">
                <label class="form-label">Fuente</label>
                <input type="text" class="form-control" formControlName="source">
            </div>
            <div class="mb-6 col-xs-12 col-md-6">
                <label class="form-label">Pie de foto</label>
                <input type="text" class="form-control" formControlName="caption">
            </div>
        </div>

        <div class="row">
            <div class="mb-12 col-xs-12 col-md-12">
                <label class="form-label">Categoría</label>
                <select class="form-select" (change)="onChange($event)">
                    <option selected>Selecciona una categoría</option>
                    <option *ngFor="let category of parentCategories" [value]="category.id">{{category.name}}</option>
                </select>
                <select *ngIf="subcategories.length" class="form-select" formControlName="category_id">
                    <option selected>Selecciona una subcategoría</option>
                    <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" value="Enviar" class="btn btn-success">Guardar como borrador</button>
    </form>
</div>