<main class="form-signin w-100 m-auto">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <figure [routerLink]="['/guirre']">
      <img class="mb-4" src="../../../assets/images/logo_portada.png" alt="">
    </figure>

    <h1 class="h3 mb-3 text-center fw-normal">Inicia sesión</h1>


    <div class="form-floating">
      <input type="email" formControlName="email" class="form-control"
        [class.error-border]="submitted && loginForm.get('email')?.hasError('required') || error" id="floatingInput">
      <label for="floatingInput">Correo electrónico</label>
    </div>

    <div class="form-floating">
      <input type="password" formControlName="password" class="form-control" id="floatingPassword"
        [class.error-border]="submitted && loginForm.get('password')?.hasError('required') || error">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <button class="btn btn-warning w-100 py-2" type="submit" value="Enviar">Iniciar sesión</button>
    <div class="registro">
      <p>Si no tienes cuenta: <a [routerLink]="['/registro']">Regístrate</a> </p>
    </div>
    <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2017–2023</p>
  </form>
</main>