html,
body {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.registro {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.position-eye{
  position: relative;
}
.eye{
  position: absolute;
  top: 25%;
  left: 88%;
  color: rgb(80, 80, 80);
}

