<footer class="footer bg-light mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 my-auto text-center">
                <img src="../../../assets/images/logo_circular.png" alt="Logo" class="img-fluid">
            </div>
            <div class="col-md-4 text-center my-auto">
                <p>&copy; 2023 Guirre Noticiero, S.A.</p>
            </div>
            <div class="col-md-4 text-end my-auto">
                <a href="enlace-de-facebook" target="_blank" class="me-2 fs-3"><i class="bi bi-facebook"></i></a>
                <a href="enlace-de-twitter" target="_blank" class="me-2 fs-3"><i class="bi bi-twitter-x"></i></a>
                <a href="enlace-de-instagram" target="_blank" class="fs-3"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>