<div class="card-container">
    <div class="card mb-3 card-body">
        <figure>
            <img [src]="oneImage.url" alt="">
        </figure>
        <p class="card-text">{{ oneImage.source }}</p>
        <p class="card-text" style="display: none;">{{ oneImage.url }}</p>
        <div class="button-display">
            <button #copyButton class="btn btn-warning" (click)="onClickCopy()" title="Copiar URL de la imagen"><i
                    class="bi bi-copy"></i></button>
            <p class="pop-up" *ngIf="copySuccess">URL copiada</p>
        </div>

    </div>
</div>