.home-heading {
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Old Standard TT', serif;
}

.empty {
    height: 55px;
}

p,
a {
    text-align: center;
}

a {
    margin-bottom: 30px;
}