<div>
    <app-header-landing-page></app-header-landing-page>
</div>
<div class="col-md-12">
    <app-category-navbar [categories]="categories">
    </app-category-navbar>
</div>

<div class="container">
    <div class="row">

        <div>
            <h2 *ngIf="originalCategoryName" class="home-heading">{{ originalCategoryName }}</h2>
        </div>

        <div class="col-md-12" *ngIf="!originalCategoryName && headlineArticle">
            <app-headline-card [article]="headlineArticle"></app-headline-card>
        </div>

        <div class="col-md-12">
            <div class="row">
                <ng-container *ngFor="let article of standardArticles">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <app-standard-card [article]="article"></app-standard-card>
                    </div>
                </ng-container>
                <p *ngIf="standardArticles.length === 0">
                    Lo sentimos, por el momento no hay artículos en la categoría '{{ originalCategoryName }}'.
                </p>
                <a routerLink="/guirre" *ngIf="standardArticles.length === 0">Click aquí para volver a la página de
                    inicio.</a>
            </div>
        </div>
    </div>
</div>