<div class="containerForm">

    <h2>Perfil de usuario</h2>
    <hr>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="mb-4 col-xs-12 col-sm-8 col-lg-4">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name"
                    [class.error-border]="submitted && editForm.get('name')?.hasError('required')" required>
                <!-- El campo es necesario -->
                <div *ngIf="submitted && editForm.get('name')?.hasError('required')" class="error-message">
                    Este campo es necesario.
                </div>
            </div>

            <div class="mb-4 col-xs-12 col-sm-8 col-lg-4">
                <label class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" formControlName="date_of_birth"
                    [class.error-border]="submitted && editForm.get('date_of_birth')?.hasError('required')" required>
                <!-- El campo es necesario -->
                <div *ngIf="submitted && editForm.get('date_of_birth')?.hasError('required')" class="error-message">
                    Este campo es necesario.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-4 col-xs-12 col-sm-8 col-lg-4">
                <label class="form-label">Departamento</label>
                <select class="form-select" formControlName="role"
                    [class.error-border]="submitted && editForm.get('role')?.hasError('required')" required>
                    <option value="redactor">Redacción</option>
                    <option value="editor">Edición</option>
                </select>
                <!-- El campo es necesario -->
                <div *ngIf="submitted && editForm.get('role')?.hasError('required')" class="error-message">
                    Este campo es necesario.
                </div>
            </div>

            <div class="mb-4 col-xs-12 col-sm-8 col-lg-4">
                <label class="form-label">Teléfono</label>
                <input type="text" class="form-control" formControlName="phone"
                    [class.error-border]="submitted && editForm.get('phone')?.hasError('required')" required>
                <!-- El campo es necesario -->
                <div *ngIf="submitted && editForm.get('phone')?.hasError('required')" class="error-message">
                    Este campo es necesario.
                </div>
            </div>
        </div>
        <div class="mb-4 col-xs-12 col-sm-8">
            <label class="form-label">Imagen de perfil (URL)</label>
            <input type="text" class="form-control" formControlName="image">
        </div>

        <button type="submit" value="Enviar" class="btn btn-warning">Editar perfil</button>


    </form>
</div>