.dropdown {
    position: absolute;
    right: 10px;
    margin-right: 25px;
}

img {
    width: 3rem;
    height: auto;
}

.perfil {
    display: flex;
    flex: wrap;
    gap: 15px;

    & p {
        display: flex;
        align-items: end;
        font-size: 14px;
    }
}