/* @import "../src/assets/reset.css"; */
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:regular,italic,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* PrimeNg */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";


/* Quill */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Bootstrap icons */
@import "~bootstrap-icons/font/bootstrap-icons.css";


:root {

    --color-primary: #F5DF7E;
    --color-hover: #f4d54b;
    --gap: 20px;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--color-hover);
    --bs-btn-hover-border-color: var(--color-hover);
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
}

.error-message {
    font-size: 80%;
    color: #dc3545;
    margin-top: 0.25rem;
}

.error-border {
    border: 1px solid #dc3545;
}